#subheader {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px black solid;
}

#mainbody {
  border: 2px solid black;
  font-family: latha, "Times New Roman", Times, serif;
  color: black;
  /* background-color: yellow; */
  /* background-image: url("rona.jpg") no-repeat; */
  /* background-size: cover;
    background-attachment: fixed; */
}

#subbody {
  border: 2px black solid;
}
